/*------------------  Color Styling  ------------------*/
:root {
    --Christmass-red: #c54245;
    --Christmass-white:  #ffffff;
}

/*------------------  Main Styling  ------------------*/
* {
    margin: 0;
    padding: 0;
    font-family: Roboto;
}

body {
    margin: 10vh 10vw;
    text-align: center;
}
/*------------------  Class Styling  ------------------*/
#result {
    height: 70vh;
    background-color: var(--Christmass-red);
}

h1 {
    color: var(--Christmass-white);
    font-size: 3em ;
}

.SnowFlake {
    position: absolute;
    height: 5em;
    width: 5em;
    fill: var(--Christmass-white);
}
